<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片转换艺术图</title>
    <link th:replace="comm/base::icon"/>
    <!--引入静态文件-->
    <static th:replace="comm/base::static"></static>

</head>
<body class="kt-body">

<!--网页头部-->
<div th:replace="comm/base::head"></div>

<!--Ktools导航栏-->
<div th:replace="comm/base::navbar"></div>

<!--面包悄-->
<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">图片转换艺术图</li>
        </ol>
    </nav>
</div>

<!--tab页签-->
<div class="container p-0 mt-2">
    <ul class="nav nav-tabs kt-tab-bg">
    </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="art">
        <!--主要内容块-->
        <div class="container kt-ctx-bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <input id="upload" type="file" name="file" class="file-loading" value="image.png"/>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <!--转换后显示图片区块-->
                        <div class="row kt-border">
                            <div class="col-sm-12" style="height: 300px">
                                <a th:href="@{/static/image/art_pic.jpg}" target="_blank" title="pic">
                                    <img th:src="@{/static/image/art_pic.jpg}" id="handle" class="rounded fakeimg" alt="pic">
                                </a>
                                <input type="text" hidden id="uploadFileName" value=""/>
                                <input type="text" hidden id="handleFileName" value=""/>
                            </div>
                        </div>
                        <!--进度条-->
                        <div class="row">
                            <div id="pbg" class="col-xl|sm-12" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-xl|sm-12">
                                <select name="type" id="picType" class="custom-select">
                                    <option value="1">漫画</option>
                                    <option value="2">素描</option>
                                    <option value="3">反色</option>
                                </select>
                                <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转换</button>
                                <button class="btn btn-primary" id="download" style="margin-left: 1rem;">下载</button>
                            </div>
                        </div>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
            </div>

        </div>
        <!--文字说明块-->
        <div class="container kt-ctx-bg mt-2 pt-2">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">图片转艺术图工具，可以把任意图片转换成有意思及逼格的艺术图。。</p>
                <!--<footer class="blockquote-footer">图片转艺术图</footer>-->
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascll">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>


<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::publicjs"></script>
<script>
    $(document).ready(function() {
        init();
        var uploadSucc = false;
        var handleFileEle = $("#handleFileName");
        var uploadFileEle = $("#uploadFileName");
        var picType;
        var obj = {};
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.imageUpload, null, obj);

        // 选择文件后事件
        control.on("filebatchselected", function(event, files) {
        });

        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            $(".file-preview").next().remove();
        });

        // 开始转换
        $("#transpic").on('click', function () {
            picType = $("#picType option:selected").val();
            if (!picType) {
                ktUtils.hintMsg('请先选择转换类型哟~~！');
                // $('[data-toggle="popover"]').popover();
                return false;
            }
            if (!uploadSucc) {
                obj.type = picType;
                control.fileinput("upload");
            } else {
                var uploadFileName = uploadFileEle.val();
                handle(uploadFileName, picType);
            }
        });

        $("#download").on('click', function () {
            var handleFileName = handleFileEle.val();
            log("download file=", handleFileName);
            if (!handleFileName) {
                ktUtils.hintMsg("木有发现有图片，请先转换哦~~");
                return false;
            }
            // 开始下载
            window.open(ktConfig.api.imageDownload + '?fileName=' + handleFileName);
        });

        // 上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.errorCode === 200) {
                uploadFileEle.val(data.response.data);   // 保存upload filename
                uploadSucc = true;
                handle(data.response.data, picType);

            } else {
                ktUtils.errorMsg('上传图片失败，请重新上传');
            }

        });

        // 若已经上传，先清除图片
        $("input[name='file']").on('click', function () {
            if (uploadSucc) {
                control.fileinput("clear");
                uploadSucc = false;
            }
        });

        // 异步上传错误结果处理
        /*control.on('fileerror', function(event, data, msg) {
            console.log("fail..........");
            // 清除当前的预览图 ，并隐藏 【移除】 按钮
            // $(".file-preview").next().remove();
            // 打开失败的信息弹窗
            // me.openAlertModel('请求失败，请稍后重试')
        });*/

        /**
         * 初始化代码
         */
        function init() {
            // 渲染页签
            ktUtils.renderNavTab(ktConfig.moduleType.image);
        }

        var ajax = true;
        function handle(fileName, type) {
            if (ajax) {
                ajax = false;
                showLoading();
                $.ajax({
                    type:'POST',
                    url: ktConfig.api.imageHandle,
                    data: {fileName:fileName, type: type},
                    success: function (r) {
                        if (r.errorCode === 200) {
                            // var handleFileName = url.substring(url.lastIndexOf("/") + 1);
                            var img = r.data;
                            handleFileEle.val(img.name);   // 保存handle filename
                            var url = '/comm/static/image/' + img.name;
                            $("#handle").attr("src", img.base64);
                            $('#handle').parent().attr('href', ktcfg.ctx + url);
                            ktUtils.fixedImg(img.base64);
                        } else {
                            ktUtils.errorMsg("转换图片失败，请重新上传转换。" + r.msg);
                        }
                    },
                    complete: function (xmlHttpRequest) {
                        var r = xmlHttpRequest.responseJSON;
                        if (r.errorCode) {
                            finishLoading(r.errorCode);
                        } else {
                            finishLoading(r.status);
                            ktUtils.errorMsg('request fail:' + r.status);
                        }
                        log(r);
                        ajax = true;
                    }
                });
            }
        }

    });
</script>

</body>
</html>