<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GIF转asciiGif</title>
    <link th:replace="comm/base::icon"/>
    <!--引入静态文件-->
    <static th:replace="comm/base::static"></static>

</head>
<body class="kt-body">

<!--网页头部-->
<div th:replace="comm/base::head"></div>

<!--Ktools导航栏-->
<div th:replace="comm/base::navbar"></div>

<!--面包悄-->
<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="breadcrumb-item kt-fs13"><a>KTools</a></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">gif转asciiGif</li>
        </ol>
    </nav>
</div>

<!--tab页签-->
<div class="container p-0 mt-2">
    <ul class="nav nav-tabs kt-tab-bg">
    </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="art">
        <!--主要内容块-->
        <div class="container kt-ctx-bg">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <input id="upload" type="file" name="file" class="file-loading" value="image.png"/>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <!--转化后显示图片区块-->
                        <div class="row kt-border">
                            <div class="col-sm-12" style="height: 300px">
                                <img th:src="@{/static/image/imgtxt.png}" id="handle" class="rounded fakeimg" alt="pic">
                                <input type="text" hidden id="handleFileName" value=""/>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-xl|sm-12">
                                <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转化</button>
                                <button class="btn btn-primary" id="download" style="margin-left: 1rem;">下载高清图</button>
                            </div>
                        </div>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
            </div>

        </div>
        <!--文字说明块-->
        <div class="container kt-ctx-bg mt-2 pt-2">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">图片转艺术图工具，可以把任意图片转化成有意思及逼格的艺术图。。</p>
                <!--<footer class="blockquote-footer">图片转艺术图</footer>-->
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascll">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>


<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::publicjs"></script>
<script>
    $(document).ready(function() {
        init();
        var uploadSucc = false;
        var handleFileEle = $("#handleFileName");
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.gif2AsciiGif, ['gif']);

        // 选择文件后事件
        control.on("filebatchselected", function(event, files) {
            // control.fileinput("upload");
        });
        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            $(".file-preview").next().remove();
        });

        // 开始转化
        $("#transpic").on('click', function () {
            if (!uploadSucc) {
                control.fileinput("upload");
            } else {
                var hfn = handleFileEle.val();
                var uploadFileName = hfn.replace("char_gif", "upload");
                $.ajax({
                    type:'POST',
                    url: ktConfig.api.gif2AsciiGif,
                    data: {fileName: uploadFileName},
                    success: function (r) {
                        var url = r.data;
                        if (r.errorCode === 200) {
                            $("#handle").attr("src", ktcfg.ctx + url + "?t=" + Math.random());
                        } else {
                            ktUtils.alert("transpic", "转化图片失败，请重新转化");
                        }
                    }
                });
            }
        });

        $("#download").on('click', function () {
            var handleFileName = handleFileEle.val();
            log("download file=", handleFileName);
            if (!handleFileName) {
                ktUtils.alert("download", "木有发现有图片，请先转化哦~~");
                return false;
            }
            // 开始下载
            window.open(ktConfig.api.imageDownload + '?fileName=' + handleFileName);
        });

        // 上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.errorCode === 200) {
                var url = data.response.data;
                var handleFileName = url.substring(url.lastIndexOf("/") + 1);
                handleFileEle.val(handleFileName.replace("_sl", ""));   // 保存处理后gif原比例图名称(char_gif1688.gif)
                uploadSucc = true;
                $("#handle").attr("src", ktcfg.ctx + url + "?t=" + Math.random());
            } else {
                ktUtils.alert("transpic", "转化图片失败，请重新转化");
            }
        });

        // 若已经上传，先清除图片
        $("input[name='image']").on('click', function () {
            if (uploadSucc) {
                control.fileinput("clear");
                uploadSucc = false;
            }
        });

        /**
         * 初始化代码
         */
        function init() {

            // 渲染页签
            ktUtils.renderNavTab(3, 'image');
        }

    });
</script>

</body>
</html>