<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalvin Tools</title>
    <!--引入静态文件-->
    <static th:replace="comm/base::static"></static>

</head>
<body class="kt-body">

<!--网页头部-->
<div th:replace="comm/base::head"></div>

<!--Ktools导航栏-->
<div th:replace="comm/base::navbar"></div>

<!--面包悄-->
<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="breadcrumb-item kt-fs13"><a>KTools</a></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/image/artPic}">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">转换字符画</li>
        </ol>
    </nav>
</div>

<!--tab页签-->
<div class="container p-0 mt-2">
    <ul class="nav nav-tabs kt-tab-bg">
        <li class="nav-item">
            <a class="nav-link kt-fs13" th:href="@{/image/artPic}">转换艺术图</a>
        </li>
        <li class="nav-item">
            <a class="nav-link kt-fs13 active" th:href="@{/image/asciiPic}">转换字符画</a>
        </li>
    </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="ascii">
        <!--主要内容块-->
        <div class="container kt-ctx-bg">
            <div class="row">
                <div class="col-sm-4 mt-4">
                    <label class="kt-fc-title">请上传图片:</label>
                    <input id="upload" type="file" name="image" class="file-loading" value="image.png"/>
                    <hr class="hidden-sm hidden-md hidden-lg">
                </div>
                <div class="col-sm-8 mt-4">
                    <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转化</button>
                    <label class="kt-fc-title">ascii字体预览:</label>
                    <!--<textarea class="ascii" disabled rows="5" id="comment"></textarea>-->
                    <pre id="comment" class="kt-ascii-font1 kt-border"></pre>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-12">
                    <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转化</button>
                    <label class="kt-fc-title">ascii字体预览:</label>
                    <textarea class="ascii" disabled rows="5" id="comment"></textarea>
                </div>
            </div>-->
        </div>
        <!--文字说明块-->
        <div class="container kt-ctx-bg mt-2 pt-2">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">图片转字符画工具，可以把任意图片(除gif)转化成ascii艺术图。。</p>
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascii">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>

<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::publicjs"></script>
<script>
    $(document).ready(function() {
        var uploadSucc = false;
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.imageAscii);

        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            $(".file-preview").next().remove();
        });

        // 开始转化
        $("#transpic").on('click', function () {
            if (!uploadSucc) {
                log(control);
                control.fileinput("upload");
            }
        });

        // 上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            log(data.response);
            if (data.response.errorCode === 200) {
                uploadSucc = true;
                $('#comment').text(data.response.data);
            }
        });

        // 若已经上传，先清除图片
        $("input[name='image']").on('click', function () {
            if (uploadSucc) {
                control.fileinput("clear");
                uploadSucc = false;
            }
        });
    });
</script>

</body>
</html>