<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5,user-scalable=no">
    <title>图片转换字符画 - Kalvin在线工具</title>
    <meta name="keywords" content="图片转换字符画、图片转换Ascii图">
    <meta name="description" content="在线图片转换字符画工具、图片转换Ascii图工具">
    <link th:replace="comm/base::icon"/>
    <static th:replace="comm/base::static"></static>
    <link rel="stylesheet" th:href="@{/static/plugin/bootstrap4/fileinput/css/fileinput.min.css}">

</head>
<body class="kt-bg">

<!--网页头部-->
<div th:replace="comm/base::head"></div>

<!--Ktools导航栏-->
<div th:replace="comm/base::navbar"></div>

<!--面包悄-->
<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/image/artPic}">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">图片转换字符画</li>
        </ol>
    </nav>
</div>

<!--tab页签-->
<div class="container p-0 mt-2">
    <ul class="nav nav-tabs kt-tab-bg">
    </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="ascii">
        <!--主要内容块-->
        <div class="container kt-ctx-bg">
            <div class="row">
                <div class="col-sm-4 mt-4">
                    <label class="kt-fc-title">请上传图片:</label>
                    <input id="upload" type="file" name="file" class="file-loading" value="image.png"/>
                    <hr class="hidden-sm hidden-md hidden-lg">
                </div>
                <div class="col-sm-8 mt-4">
                    <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转换</button>
                    <label class="kt-fc-title">ascii字符图预览:</label>
                    <!--<textarea class="ascii" disabled rows="5" id="comment"></textarea>-->
                    <pre id="comment" class="kt-pre-font12 kt-border mt-0"></pre>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-12">
                    <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转换</button>
                    <label class="kt-fc-title">ascii字体预览:</label>
                    <textarea class="ascii" disabled rows="5" id="comment"></textarea>
                </div>
            </div>-->
        </div>
        <!--文字说明块-->
        <div class="container kt-ctx-bg mt-2 pt-2">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">图片转字符画工具，可以把任意图片(除gif)转换成ascii艺术图。。</p>
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascii">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>

<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::jquery"></script>
<script th:replace="comm/base::publicjs"></script>
<script th:replace="comm/base::uploadjs"></script>
<script>
    $(document).ready(function() {
        init();
        var uploadSucc = false;
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.imageAscii);

        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            $(".file-preview").next().remove();
        });

        // 开始转换
        $("#transpic").on('click', function () {
            if (!uploadSucc) {
                control.fileinput("upload");
            }
        });

        // 上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.errorCode === 200) {
                uploadSucc = true;
                $('#comment').text(data.response.data);
            }
        });

        // 若已经上传，先清除图片
        $("input[name='image']").on('click', function () {
            if (uploadSucc) {
                control.fileinput("clear");
                uploadSucc = false;
            }
        });

        /**
         * 初始化代码
         */
        function init() {

            // 渲染页签
            ktUtils.renderNavTab(ktConfig.moduleType.image);

            // 初始化展示默认字符图
            var defaultAscii = 'nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnnnuuuuuuuuuunnuvuuuuuuunnnnnnnnuuuuuuuuuuuuuuuuuuuunnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnnuti!!!!!!!ifvj<!!!!!!l[unnnnnv)!!!!!!!!!!!!!!!!!!xxunnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnuul        ~vt:       +xunnnnuj^                  [unnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnv]        :n\\^      ^)vunnnnnui                  iunnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnut\'       .\\)\'      lfvnnnnnnu)```^.        .^```:junnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnunI        -[.      _nunnnnnnnnxrrx/`        {xrrrxunnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnv?        :<      `1vunnnnnnnnnuuuvi        xvuuuuunnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnu/\'        `      ;tvnnnnnnnnnnnnnv}        "runnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnun;               ~xunnnnnnnnnnnnnuf`       .)vnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnv-               \'runnnnnnnnnnnnnuu!        ~vnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnv\\\'               ^xunnnnnnnnnnnnnv[        ,xunnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnux;        "       :nunnnnnnnnnnnnut`       .(vnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnv_        li       lunnnnnnnnnnnnuul        +vnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnv|.       \'|"       >vnnnnnnnnnnnnv]        :xunnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnux:        [\\        +vnnnnnnnnnnnut\'       .|vnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnv+        lv_        ?vnnnnnnnnnnunI        _vnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnv(.       \'tu:        {vnnnnnnnnnnv?        :xunnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnux;.\'\'\'\'\'\'\'[ct\'\'\'\'\'\'\'\'\'(vnnnnnnnnnu/`\'\'\'\'\'\'\'`\\vnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnxtffffffffnuxfffffffffxnnnnnnnnnnurffffffffjunnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnuuuuuuuuunnuuuuuuuuuunnnnnnnnnnnnuuuuuuuuuunnnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn\n' +
                'nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn'
            $('#comment').text(defaultAscii);
        }
    });
</script>

</body>
</html>