<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5,user-scalable=no">
    <title>GIF字符动画在线生成 动态图转ASCII动画 - Kalvin在线工具</title>
    <meta name="keywords" content="GIF字符动画在线生成、动态图转ASCII动画">
    <meta name="description" content="GIF字符动画在线生成器、在线动态图转ASCII动画、GIF转化ASCII动画工具">
    <link th:replace="comm/base::icon"/>
    <static th:replace="comm/base::static"></static>
    <link rel="stylesheet" th:href="@{/static/plugin/bootstrap4/fileinput/css/fileinput.min.css}">

</head>
<body class="kt-bg">

<div th:replace="comm/base::head"></div>

<div th:replace="comm/base::navbar"></div>

<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/image/artPic}">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">GIF字符动画生成</li>
        </ol>
    </nav>
</div>

<div th:replace="comm/base::tab"></div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="art">
        <!--主要内容块-->
        <div class="container kt-first-layout-module">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <input id="upload" type="file" name="file" class="file-loading" value="image.png"/>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <!--转换后显示图片区块-->
                        <div class="row kt-border">
                            <div class="col-sm-12" style="height: 300px">
                                <a th:href="@{/static/image/char_gif.gif}" target="_blank" title="可点击图片下载缩略图">
                                    <img th:src="@{/static/image/char_gif.gif}" id="handle" class="rounded fakeimg" alt="pic">
                                </a>
                                <input type="text" hidden id="uploadFileName" value=""/>
                                <input type="text" hidden id="handleFileName" value=""/>
                            </div>
                        </div>
                        <!--进度条-->
                        <div class="row">
                            <div id="pbg" class="col-xl|sm-12" style="width: 100%;">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-xl|sm-12">
                                <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转换</button>
                                <button class="btn btn-primary" id="download" style="margin-left: 1rem;">下载高清图</button>
                            </div>
                        </div>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
            </div>

        </div>
        <!--文字说明块-->
        <div class="container kt-layout-module">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">可以将普通的gif动态图转换成Ascii字符gif动态图，逼格满满哦。</p>
                <!--<footer class="blockquote-footer">图片转艺术图</footer>-->
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascll">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>


<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::jquery"></script>
<script th:replace="comm/base::publicjs"></script>
<script th:replace="comm/base::uploadjs"></script>
<script>
    $(document).ready(function() {
        init();
        var uploadSucc = false;
        var uploadFileEle = $("#uploadFileName");
        var handleFileEle = $("#handleFileName");
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.imageUpload, ['gif']);

        // 选择文件后事件
        control.on("filebatchselected", function(event, files) {
        });
        
        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            $(".file-preview").next().remove();
        });

        // 开始转换
        $("#transpic").on('click', function () {
            if (!uploadSucc) {
                control.fileinput("upload");
            } else {
                handle(uploadFileEle.val());
            }
        });

        $("#download").on('click', function () {
            var handleFileName = handleFileEle.val();
            log("download file=", handleFileName);
            if (!handleFileName) {
                ktUtils.hintMsg("木有发现有图片，请先转换哦~~");
                return false;
            }
            // 开始下载
            window.open(ktConfig.api.imageDownload + '?fileName=' + handleFileName);
        });

        // 上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.errorCode === 200) {
                uploadFileEle.val(data.response.data);   // 保存upload filename
                uploadSucc = true;
                handle(data.response.data);
            } else {
                ktUtils.errorMsg("转换图片失败，请重新转换");
            }
        });

        // 若已经上传，先清除图片
        $("input[name='file']").on('click', function () {
            if (uploadSucc) {
                control.fileinput("clear");
                uploadSucc = false;
            }
        });

        /**
         * 初始化代码
         */
        function init() {

            // 渲染页签
            ktUtils.renderNavTab(ktConfig.moduleType.image);
        }

        var ajax = true;
        function handle(fileName) {
            if (ajax) {
                ajax = false;
                showLoading();
                $.ajax({
                    type:'POST',
                    url: ktConfig.api.gif2AsciiGif,
                    data: {fileName:fileName},
                    success: function (r) {
                        if (r.errorCode === 200) {
                            var img = r.data;
                            handleFileEle.val(img.name.replace('_sl', ''));   // 保存处理后gif原比例图名称(char_gif1688.gif)
                            var url = '/comm/static/image/' + img.name;
                            log(img.base64);
                            $("#handle").attr("src", img.base64);
                            $('#handle').parent().attr('href', ktcfg.ctx + url);
                            ktUtils.fixedImg(img.base64);
                        } else {
                            ktUtils.errorMsg("转换图片失败，请重新上传转换。" + r.msg);
                        }
                    },
                    complete: function (xmlHttpRequest) {
                        var r = xmlHttpRequest.responseJSON;
                        if (r.errorCode) {
                            finishLoading(r.errorCode);
                        } else {
                            finishLoading(r.status);
                            ktUtils.errorMsg('request fail:' + r.status);
                        }
                        ajax = true;
                    }
                });
            }
        }

    });
</script>

</body>
</html>