<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片合成GIF动图</title>
    <link th:replace="comm/base::icon"/>
    <!--引入静态文件-->
    <static th:replace="comm/base::static"></static>

</head>
<body class="kt-body">

<!--网页头部-->
<div th:replace="comm/base::head"></div>

<!--Ktools导航栏-->
<div th:replace="comm/base::navbar"></div>

<!--面包悄-->
<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">图片合成GIF动图</li>
        </ol>
    </nav>
</div>

<!--tab页签-->
<div class="container p-0 mt-2">
    <ul class="nav nav-tabs kt-tab-bg">
    </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="art">
        <!--主要内容块-->
        <div class="container kt-ctx-bg">
            <div class="row">
                <div class="col-sm-12">
                    <!--<div class="p-lg-5">

                    </div>-->
                    <input id="upload" type="file" name="file" multiple class="file-loading" value=""/>
                    <hr class="hidden-sm hidden-md hidden-lg">
                </div>
                <div class="col-sm-12">
                    <!--<div class="p-lg-5">

                    </div>-->
                    <div class="row mt-1 ml-1 mb-2 mr-1">
                        <div class="col-sm-6" style="text-align: center;line-height: 305px;">
                            <label class="kt-fc-title">时间间隔:</label>
                            <select name="type" id="duration" class="custom-select">
                            </select>
                            <button class="btn" id="transpic" style="background: #20c997;color: white; margin:0 auto;">合成GIF</button>
                            <button class="btn btn-primary" id="download" style="margin:0 auto;">下载高清图</button>
                        </div>
                        <div class="col-sm-6 kt-border" style="height: 305px">
                            <a th:href="@{/static/image/gif123.gif}" target="_blank" title="可点击图片下载缩略图">
                                <img th:src="@{/static/image/gif123.gif}" id="handle" class="rounded fakeimg" style="height: auto;" alt="pic">
                            </a>
                            <input type="text" hidden id="handleFileName" value=""/>
                        </div>
                    </div>
                    <!--进度条-->
                    <div class="row">
                        <div id="pbg" class="col-xl|sm-12" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--文字说明块-->
        <div class="container kt-ctx-bg mt-2 pt-2">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">1、多张图片合成gif动态图，可控制动图动画速度。</p>
                <p class="kt-fs13 kt-fc-desc">2、默认批量上传的按钮上传后合成的gif图片是无序的，若需要按自己的顺序生成gif，你只要点击图片下面那个小上传按钮，一个一个上传即可。</p>
                <p class="kt-fs13 kt-fc-desc">3、尽量使用尺寸相差不大的图片效果更佳哦。</p>
                <!--<footer class="blockquote-footer">图片转艺术图</footer>-->
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascll">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>


<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::publicjs"></script>
<script>
    $(document).ready(function() {
        var uploadSucc = false;
        var handleFileEle = $("#handleFileName");
        var imageArr = [];
        // 初始化上传控件
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.imageUpload, null, null,
                {showUpload: true, showCaption: false, maxFileCount: 50, layoutTemplates: {actionZoom: ''}});
        init();

        // 选择文件后事件
        control.on("filebatchselected", function(event, files) {
        });
        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            // $(".file-preview").next().remove();
        });

        // 开始转化
        $("#transpic").on('click', function () {
            if (!uploadSucc) {
                ktUtils.hintMsg("请先上传图片哟！");
                return false;
            } else {
                var duration = $('#duration').find('option:selected').val();
                handle(imageArr, duration);
            }
        });

        $("#download").on('click', function () {
            var handleFileName = handleFileEle.val();
            log("download file=", handleFileName);
            if (!handleFileName) {
                ktUtils.hintMsg('请先合成GIF再下载');
                return false;
            }
            // 开始下载
            window.open(ktConfig.api.imageDownload + '?fileName=' + handleFileName);
        });

        // 异步上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            log(data.response);
            if (data.response.errorCode === 200) {
                imageArr.push(data.response.data);
                uploadSucc = true;
            } else {
                // ktUtils.errorMsg('上传图片失败，请重新上传');
            }
        });

        /**
         * 初始化代码
         */
        function init() {

            // 渲染页签
            ktUtils.renderNavTab(ktConfig.moduleType.image);

            // 初始化时间间隔选项
            var i = 0.1;
            while (i < 3) {
                if (Number(i.toFixed(1)) === 0.4) {
                    $('#duration').append('<option selected value="' + i.toFixed(1) + '">' + i.toFixed(1) + '秒</option>');
                } else {
                    $('#duration').append('<option value="'+i.toFixed(1)+'">'+i.toFixed(1)+'秒</option>');
                }
                i = i + 0.1;
            }

            // 初始化tooltip
            var fubEle = $('.fileinput-upload-button');
            fubEle.attr('data-toggle', 'tooltip');
            fubEle.attr('data-placement', 'top');
            fubEle.attr('title', '注意：这个上传后合成GIF是无序的，若想要有序的GIF请点图片下面的上传按钮，按你的顺序上传即可。');

            $('[data-toggle="tooltip"]').tooltip();
        }

        var ajax = true;
        function handle(imageArr, duration) {
            if (ajax) {
                ajax = false;
                showLoading();
                $.ajax({
                    type:'POST',
                    url: ktConfig.api.image2Gif,
                    async: false,
                    data: {imageArr: imageArr.toString(), duration: duration},
                    success: function (r) {
                        if (r.errorCode === 200) {
                            var img = r.data;
                            handleFileEle.val(img.name.replace('_sl', ''));   // 保存处理后gif原比例图名称(char_gif1688.gif)
                            var url = '/comm/static/image/' + img.name;
                            $("#handle").attr("src", img.base64);
                            $('#handle').parent().attr('href', ktcfg.ctx + url);
                            ktUtils.fixedImg(img.base64);
                        } else {
                            ktUtils.errorMsg("合成GIF动图失败，请重新合成。" + r.msg);
                        }
                    },
                    complete: function (xmlHttpRequest) {
                        var r = xmlHttpRequest.responseJSON;
                        if (r.errorCode) {
                            finishLoading(r.errorCode);
                        } else {
                            finishLoading(r.status);
                            ktUtils.errorMsg('request fail:' + r.status);
                        }
                        ajax = true;
                    }
                });
            }

        }

    });
</script>

</body>
</html>