<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5,user-scalable=no">
    <title>词云图在线生成 - Kalvin在线工具</title>
    <meta name="keywords" content="词云图、文字云、词云图生成、词云图在线生成">
    <meta name="description" content="提供在线把图片生成自定义词云图">
    <link th:replace="comm/base::icon"/>
    <static th:replace="comm/base::static"></static>
    <link rel="stylesheet" th:href="@{/static/plugin/bootstrap4/fileinput/css/fileinput.min.css}">

</head>
<body class="kt-bg">

<div th:replace="comm/base::head"></div>

<div th:replace="comm/base::navbar"></div>

<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span class='kt-position-title'>您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">首页</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">图片工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">词云图生成</li>
        </ol>
    </nav>
</div>

<!--更新日志通知条-->
<div th:replace="comm/base::updateLog"></div>
<div th:replace="comm/base::tab"></div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="art">
        <!--主要内容块-->
        <div class="container kt-first-layout-module">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <input id="upload" type="file" name="file" class="file-loading" value="image.png"/>
                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-lg-5">
                        <!--转换后显示图片区块-->
                        <div class="row kt-border">
                            <div class="col-sm-12" style="height: 300px">
                                <a th:href="@{/static/image/wxwc.jpg}" target="_blank" title="pic">
                                    <img th:src="@{/static/image/wxwc.jpg}" id="handle" class="rounded fakeimg" alt="pic">
                                </a>
                                <input type="text" hidden id="uploadFileName" value=""/>
                                <input type="text" hidden id="handleFileName" value=""/>
                            </div>
                        </div>

                        <hr class="hidden-sm hidden-md hidden-lg">
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr class="hidden-sm hidden-md hidden-lg">
                    <div>
                        <h5 class="kt-fs16 kt-fc-title float-left">词云内容</h5>
                        <div class="checkbox float-left ml-4">
                            <label>
                                <input id="defaultWord" type="checkbox" value="1">使用预设经典语录
                            </label>
                        </div>
                    </div>

                    <textarea class="form-control" rows="10" id="wordContent" name="wordContent" placeholder="词云内容。文字不要太少也不要太多，只有这样效果才最佳哦！比如一遍日志或文章。"></textarea>
                </div>
                <div class="col-sm-12">
                    <!--进度条-->
                    <div class="row" style="margin: 10px 0 0 0">
                        <div id="pbg" class="col-xl|sm-12" style="width: 100%;"></div>
                    </div>
                    <div class="row mt-lg-3">
                        <div class="col-xl|sm-12 ml-3">
                            <button class="btn btn-primary" id="transpic" style="margin-left: 0;">生成词云图</button>
                            <button class="btn btn-success" id="download" style="margin-left: 1rem;"><i class="glyphicon glyphicon-download-alt"></i>下载词云图</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--文字说明块-->
        <div class="container kt-layout-module">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">词云。又称文字云。该工具可自定义图片（<span style="color: red;">图片使用纯色背景更佳哟</span>）及词云（文字）内容，一键生成逼格满满的词云图。</p>
            </blockquote>
        </div>

        <!--评论模块-->
        <div class="container kt-layout-module">
            <div th:replace="comm/base::comment"></div>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascll">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>


<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::jquery"></script>
<script th:replace="comm/base::publicjs"></script>
<script th:replace="comm/base::uploadjs"></script>
<script>
    $(document).ready(function() {
        init();
        var uploadSucc = false;
        var handleFileEle = $("#handleFileName");
        var uploadFileEle = $("#uploadFileName");
        var wordContent;
        var obj = {};
        var control = ktUtils.initFileUploadControl('upload', ktConfig.api.imageUpload.replace('{type}', 0), null, obj);

        // 上传前事件
        control.on('filepreajax', function(event, previewId, index) {
            $(".file-preview").next().remove();
        });

        $("#transpic").on('click', function () {
            wordContent = $('#wordContent').val();
            if (!wordContent) {
                return alert('请设置词云内容');
            }
            if (!uploadSucc) {  // 图片还没上传就选上传
                control.fileinput("upload");
            } else {    // 已上传直接生成词云图
                var uploadFileName = uploadFileEle.val();
                generateWordCloud(uploadFileName, wordContent);
            }
        });

        $("#download").on('click', function () {
            var handleFileName = handleFileEle.val();
            log("download file=", handleFileName);
            if (!handleFileName) {
                alert('请先生成词云图再下载');
                return false;
            }
            // 开始下载
            window.open(ktConfig.api.imageDownload + '?fileName=' + handleFileName);
        });

        // 上传完成后事件
        control.on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.errorCode === 200) {
                uploadFileEle.val(data.response.data);   // 保存upload filename
                uploadSucc = true;
                generateWordCloud(data.response.data, wordContent);
            } else {
                alert('生成词云图失败，请客官再试一次哦');
            }
        });

        // 若已经上传，先清除图片
        $("input[name='file']").on('click', function () {
            if (uploadSucc) {
                control.fileinput("clear");
                uploadSucc = false;
            }
        });

        /**
         * 初始化代码
         */
        function init() {
            // 渲染页签
            ktUtils.renderNavTab(ktConfig.moduleType.image);
            ktUtils.initComments();
        }

        var ajax = true;

        /**
         * 生成词云图
         * @param filename
         * @param wordContent
         */
        function generateWordCloud(filename, wordContent) {
            if (ajax) {
                ajax = false;
                showLoading();
                $.ajax({
                    type:'POST',
                    url: ktConfig.api.imageGenerateWordCloud,
                    data: {filename: filename, wordContent: wordContent},
                    success: function (r) {
                        if (r.errorCode === 200) {
                            // var handleFileName = url.substring(url.lastIndexOf("/") + 1);
                            var img = r.data;
                            handleFileEle.val(img.name);   // 保存handle filename
                            var url = '/comm/static/image/' + img.name;
                            $("#handle").attr("src", img.base64);
                            $('#handle').parent().attr('href', ktcfg.ctx + url);
                            ktUtils.fixedImg(img.base64);
                        } else {
                            alert('生成词云图失败，请客官再试一次哦！msg：' + r.msg);
                        }
                    },
                    complete: function (xmlHttpRequest) {
                        var r = xmlHttpRequest.responseJSON;
                        if (r.errorCode) {
                            finishLoading(r.errorCode);
                        } else {
                            finishLoading(r.status);
                            alert('request fail:' + r.status);
                        }
                        log(r);
                        ajax = true;
                    }
                });
            }
        }

        $('#defaultWord').on('change', function () {
            var checked = $(this).is(':checked');
            if (checked) {
                $('#wordContent').val('1、生命之灯因热情而点燃，生命之舟因拼搏而前行。\n' +
                    '2、成功是一种观念，成功是一种思想，成功是一种习惯，成功是一种心态。\n' +
                    '3、人生有如钓鱼，一竿在手，希望无穷。\n' +
                    '4、一个意志坚定，敢作敢为的人，永远信任自己。老天赋予任何人以能力，无非希望他能成为一个勇敢的人。\n' +
                    '5、如果心胸不似海，又怎能有海一样的事业。\n' +
                    '6、习惯能够改变命运；改变自己，从点滴做起；改变一定会有痛苦，但成果是辉煌的；好的习惯会吸引成功。\n' +
                    '7、放弃该放弃的是无奈，放弃不该放弃的是无能，不放弃该放弃的是无知，不放弃不该放弃的是执着。\n' +
                    '8、挫折其实就是迈向成功所应缴的学费。\n' +
                    '9、任何的限制，都是从自己的内心开始的。\n' +
                    '10、做决定之前仔细考虑，一旦作了决定就要勇往直前、坚持到底。\n' +
                    '11、不听指点，多绕弯弯。不懂装懂，永世饭桶。\n' +
                    '12、不问的人永远和愚昧在一起。\n' +
                    '13、成功决不喜欢会见懒汉，而是唤醒懒汉。\n' +
                    '14、思想改变行动，行动改变习惯，习惯改变性格，性格改变命运。\n' +
                    '15、外在压力增加时，就应增强内在的动力。\n' +
                    '16、欲望以提升热忱，毅力以磨平高山。\n' +
                    '17、人生舞台的大幕随时都可能拉开，关键是你愿意表演，还是选择躲避。\n' +
                    '18、让我们将事前的忧虑，换为事前的思考和计划吧！\n' +
                    '19、如果无法控制自己的情绪 就无法控制周围的情境。\n' +
                    '20、把你心中的烦恼 向多少人分担 你的烦恼就会除以多少。\n' +
                    '21、失败，是留给不坚持的人。\n' +
                    '22、如果你不满意你的现状，要么开始改变，要么就闭嘴。\n' +
                    '23、才华是血汗的结晶。才华是刀刃，辛苦是磨刀石。\n' +
                    '24、只要我们能梦想的，我们就能实现。\n' +
                    '25、不论你在什么时候开始，重要的是开始之后就不要停止。\n' +
                    '26、有志者自有千计万计，无志者只感千难万难。\n' +
                    '27、实现自己既定的目标，必须能耐得住寂寞单干。\n' +
                    '28、世界会向那些有目标和远见的人让路。\n' +
                    '29、无论做什么，都请记得那是为自己而做，那就毫无怨言。\n' +
                    '30、能积极面对痛苦，就能把握随问题而来的成长机会。\n' +
                    '31、可以反省，不能后悔，因为那将没有任何帮助。\n' +
                    '32、有的人活在过去的记忆中，有的人活在对未来的痴想中，只有活在今天的人，是把自己的一生掌握在手中。\n' +
                    '33、只有流过血的手指才能弹出世间的绝唱。\n' +
                    '34、如果要挖井，就要挖到水出为止。\n' +
                    '35、成功不是得到多少东西，而是把身上多余的东西的扔掉多少。\n' +
                    '36、山不辞土，故能成其高；海不辞水，故能成其深！\n' +
                    '37、坚韧是成功的一大要素，只要在门上敲得够久够大声，终会把人唤醒的。\n' +
                    '38、只要路是对的，就不怕路远。\n' +
                    '39、人生伟业的建立，不在能知，乃在能行。\n' +
                    '40、环境永远不会十全十美，消极的人受环境控制，积极的人却控制环境。\n' +
                    '41、事实上，成功仅代表了你工作的1%，成功是99%失败的结果。\n' +
                    '42、不要等待机会，而要创造机会。\n' +
                    '43、不是某人使我烦恼，而是我拿某人的言行来烦恼自己。\n' +
                    '44、寂寞的人有两种，一种是什么话都听的明白，一种则是什么都听不明白。\n' +
                    '45、只有千锤百炼，才能成为好钢。\n' +
                    '46、面对过去，不要迷离；面对未来，不必彷徨；活在今天，你只要把自己完全“展示”给别人看。\n' +
                    '47、流过泪的眼睛更明亮，滴过血的心灵更坚强！\n' +
                    '48、人生是美丽的，人生是甜密的，并不代表人生是一帆风顺的。\n' +
                    '49、让欲望来引导人生；欲望就是一种力量；欲望能够吸引成功；做欲望的主人；明确自己想要什么。\n' +
                    '50、成功的信念在人脑中的作用就如闹钟，会在你需要时将你唤醒。\n' +
                    '51、懂得自己无知，说明已有收获。\n' +
                    '52、忌妒别人，不会给自己增加任何的好处。忌妒别人，也不可能减少别人的成就。\n' +
                    '53、积极的人在每一次忧患中都看到一个机会，而消极的人则在每个机会都看到某种忧患。\n' +
                    '54、原谅别人，就是给自己心中留下空间，以便回旋。\n' +
                    '55、你并不快乐 因为 你所没有的 你不停的追求 你已经拥有的 你却遗忘了。\n' +
                    '56、快乐的秘诀 不是做你喜欢的事 而是喜欢你做的事。\n' +
                    '57、一切的结果都从你开始的那一秒决定。\n' +
                    '58、不要生气要争气，不要看破要突破，不要嫉妒要欣赏，不要托延要积极，不要心动要行动。\n' +
                    '59、态度决定一切，实力捍卫尊严！人要经得起诱惑耐得住寂寞！\n' +
                    '60、如果我们做与不做都会有人笑，如果做不好与做得好还会有人笑，那么我们索性就做得更好，来给人笑吧！\n' +
                    '61、志在山顶的人，不会贪念山腰的风景。\n' +
                    '62、要接受自己行动所带来的责任 而非自己成就所带来的荣耀。\n' +
                    '63、每个人都必须发展两种重要的能力：适应改变与动荡的能力以及为长期目标延缓享乐的能力。\n' +
                    '64、凡事追求，但不强求。\n' +
                    '65、我的信念：相信我能够完成任何我要完成的事情，并且坚信该项任务值得我为此而“付出”和“努力”。\n' +
                    '66、将一副好牌打好没有什么了不起，能将一副坏牌打好的人，才值得钦佩。\n' +
                    '67、越努力，越幸运！\n' +
                    '68、先行动，再等待机会，而不是等待机会再行动。\n' +
                    '69、笑，全世界便与你同声笑，哭，你便独自哭。\n' +
                    '70、人生的未来要有方向，但不要死板。\n' +
                    '71、百分之九十的“可以” 前面都是从“不”开始。\n' +
                    '72、斩断自己的退路，才能更好地赢得出路。\n' +
                    '73、不是境况造就人，而是人造就境况。\n' +
                    '74、含泪播种的人一定能含笑收获。\n' +
                    '75、旁观者的姓名永远爬不到比赛的计分板上。\n' +
                    '76、当你感到悲哀痛苦时，最好是去学些什么东西。学习会使你永远立于不败之地。\n' +
                    '77、宁愿跑起来被拌倒无数次，也不愿规规矩矩走一辈子。就算跌倒也要豪迈的笑。\n' +
                    '78、世界上那些最容易的事情中，拖延时间最不费力。\n' +
                    '79、怠惰是贫穷的制造厂。\n' +
                    '80、如果我们想要更多的玫瑰花，就必须种植更多的玫瑰树。\n' +
                    '81、现在很痛苦，等过阵子回头看看，会发现其实那都不算事。\n' +
                    '82、竞争颇似打网球，与球艺胜过你的对手比赛，可以提高你的水平。\n' +
                    '83、只有不断找寻机会的人才会及时把握机会。\n' +
                    '84、你可以选择这样的“三心二意”：信心恒心决心；创意乐意。\n' +
                    '85、伟大的事业不是靠力气、速度和身体的敏捷完成的，而是靠性格、意志和知识的力量完成的。\n' +
                    '86、方向不对，努力白费，方向大于方法，动力大于能力，做人大于做事，凡事都说这都是我们的错。\n' +
                    '87、要输就输给追求，要嫁就嫁给幸福。\n' +
                    '88、命运一半掌握在上帝手中，另一半掌握在自己手中。成功就是用自己手中的一半去赢得上帝手中的另一半。\n' +
                    '89、只有经历过地狱般的折磨，才有征服天堂的力量。\n' +
                    '90、世界是大舞台，公司是小舞台，家庭是后台，生活是连续剧，我们就是主角。\n' +
                    '91、处事不必求功，无过便是功；为人不必感德，无怨便是德。\n' +
                    '92、忘掉失败，不过要牢记失败中的教训。\n' +
                    '93、靠山山会倒，靠水水会流，靠自己永远不倒。\n' +
                    '94、为了不让生活留下遗憾和后悔，我们应该尽可能抓住一切改变生活的机会。\n' +
                    '95、无论你觉得自己多么的不幸，永远有人比你更加不幸。  摘自：励志语录   www.yuluju.com\n' +
                    '96、无论你觉得自己多么的了不起，也永远有人比你更强。\n' +
                    '97、对一个年轻人而言最重要的是个人价值的增加。\n' +
                    '98、没有承受困难的能力，就没有希望了。\n' +
                    '99、没有口水与汗水，就没有成功的泪水。\n' +
                    '100、拥有梦想只是一种智力，实现梦想才是一种能力。');
            } else {
                $('#wordContent').val('');
            }
        });

    });
</script>

</body>
</html>