<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 系统信息  -->
    <script th:fragment="config" th:inline="javascript">
        var ktcfg = {
            /* 上下文路径  */
            ctx:[[${#httpServletRequest.getContextPath()}]]
        };
    </script>

    <!--网站图标-->
    <link th:fragment="icon" rel="shortcut icon" th:href="@{/static/ktico.ico}" type="image/x-icon"/>

    <!-- 共用css/js静态资源 -->
    <static th:fragment="static">
        <!--Bootstrap 核心css-->
        <link rel="stylesheet" th:href="@{/static/plugin/bootstrap4/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/static/plugin/bootstrap4/fileinput/css/fileinput.min.css}">
        <!--KTools.css-->
        <link rel="stylesheet" th:href="@{/static/css/ktools.css}">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <!--<script th:src="@{/static/plugin/bootstrap4/js/jquery.min.js}"></script>-->
        <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/static/js/jquery.cookie.js}"></script>
        <script th:src="@{/static/plugin/bootstrap4/js/tether.min.js}"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script th:src="@{/static/plugin/bootstrap4/js/bootstrap.min.js}"></script>
        <script th:src="@{/static/plugin/bootstrap4/fileinput/js/fileinput.min.js}"></script>
        <script th:src="@{/static/plugin/bootstrap4/fileinput/js/zh.js}"></script>
    </static>

    <!--网页头部-->
    <!--background: #4b8d78 #0c2d41-->
    <div th:fragment="head" class="jumbotron text-center text-white font-weight-bold mb-0" style="background: #0c2d41;padding-top: 20px;height: 183px;">
        <div class="" style="width: 800px;margin: 30px auto auto;">
            <!--<span class="kt-banner">Kalvin Tools</span>-->
            <h1 class="row3 skew-title">
                <span>K</span><span>a</span><span>l</span><span>v</span><span>i</span><span class="last">n</span>
                <span class="alt">T</span><span class="alt">o</span><span class="alt">o</span><span class="alt">l</span><span class="alt last">s</span>
            </h1>
        </div>
        <p style="color: #adffb4;">旨在集成更多有趣，好玩以及实用的在线工具！</p>
        <!--<div class="mt-lg-4 kt-border" style="width: 115px;">
            <h1 style="font-family: serif;font-weight: bold;font-size: 80px;">1</h1>
        </div>-->
    </div>

    <!--Ktools导航栏-->
    <nav th:fragment="navbar" class="navbar navbar-toggleable-md bg-inverse navbar-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="" width="30" height="30" class="d-inline-block align-top glyphicon glyphicon-briefcase" alt="">
            KTools
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link " th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/image/artPic}">图片相关</a>
                    <div class="dropdown-menu mt-0">
                        <a class="dropdown-item" th:href="@{/image/artPic}">图片转换艺术图</a>
                        <a class="dropdown-item" th:href="@{/image/asciiPic}">图片转换Ascii字符画</a>
                        <a class="dropdown-item" th:href="@{/image/asciiGif}">GIF转换AsciiGif</a>
                        <a class="dropdown-item" th:href="@{/image/colorAsciiPic}">图片转彩色Ascii图</a>
                        <a class="dropdown-item" th:href="@{/image/gif}">图片合成GIF动图</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/txt/ascii}">文字相关</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/head}">头像相关</a>
                    <div class="dropdown-menu mt-0">
                        <a class="dropdown-item" th:href="@{/head/}">头像大全</a>
                        <a class="dropdown-item" href="">生成头像</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">便民工具</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">开发者工具</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop">
                        其它工具
                    </a>
                    <div class="dropdown-menu mt-0">
                        <a class="dropdown-item" href="#">开发中</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>-->
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button type="button" class="btn btn-sm btn-outline-success glyphicon glyphicon-user">注册</button>
            <button type="button" class="btn btn-sm btn-outline-success glyphicon glyphicon-log-in">登录</button>-->
        </div>
    </nav>


    <!-- 网站footer -->
    <div th:fragment="footer" class="jumbotron text-center" style="margin-bottom:0">
        <p>Copyright © 2013-2018 KalvinTools</p>
    </div>

    <div th:fragment="publicjs">
        <script th:src="@{/static/js/ktConfig.js}"></script>
        <script th:src="@{/static/js/ktUtils.js}"></script>
        <script th:src="@{/static/js/ktPublic.js}"></script>
    </div>

</body>
</html>