<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- 系统信息  -->
    <script th:fragment="config" th:inline="javascript">
        var ktcfg = {ctx:[[${#httpServletRequest.getContextPath()}]]};
    </script>

    <!--网站图标-->
    <link th:fragment="icon" rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>

    <!-- 共用css/js静态资源 -->
    <static th:fragment="static">
        <link rel="stylesheet" th:href="@{/static/plugin/bootstrap4/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/static/css/ktools.css}">
        <link rel="stylesheet" th:href="@{/static/css/gitment.css}">
        <link rel="stylesheet" th:href="@{/static/css/jquery.smarticker.css}">
    </static>

    <!--网页头部-->
    <!--background: #4b8d78 #0c2d41 #0c2d41-->
    <div th:fragment="head" class="jumbotron text-center text-white font-weight-bold mb-0 kt-hd-bg" style="border-radius: 0">
        <div class="container">
            <div class="row float-left">
                <div class="col-sm-12 text-left">
                    <img th:src="@{/static/image/icon/ktitle.png}">
                </div>
                <div class="col-sm-12 text-left" style="margin-top: 12px;padding-left: 86px;color: #f0f3ecfc; font-family: cursive">
                    —— 一个有趣实用的工具箱！
                </div>
            </div>
        </div>
    </div>

    <!--Ktools导航栏-->
    <nav th:fragment="navbar" th:with="ctx=${#httpServletRequest.getContextPath()}" class="navbar navbar-expand-sm bg-secondary navbar-dark" style="background-color: #0068a1!important;padding-top:0;padding-bottom: 0;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img th:src="@{/static/favicon.ico}" width="30" height="30" class="d-inline-block align-top glyphicon glyphicon-briefcase" alt="">
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav" style="height: 50px;">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/}">首页</a>
                </li>
                <li class="nav-item dropdown" th:each="module:${allMenu}">
                    <a class="nav-link dropdown-toggle" th:href="${ctx + module.url}" data-toggle="dropdown" th:text="${module.module}">Dropdown link</a>
                    <div class="dropdown-menu" style="margin-top: 0">
                        <a class="dropdown-item" th:each="menu:${module.menu}" th:href="${ctx + menu.url}" th:text="${menu.name}" target="_blank">Link 1</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--tab页签-->
    <div th:fragment="tab" class="container kt-tab-pm">
        <ul class="nav nav-tabs kt-tab-bg">
        </ul>
    </div>

    <!--评论模块-->
    <div th:fragment="comment" id="container">
        <div lang="en-US" class="gitment-container gitment-root-container">
            <div><h5 id="totalComment" style="display: none">19条评论</h5></div>
            <div>
                <div lang="en-US" class="gitment-container gitment-header-container">
<!--                    <span id="dl" data-likeIt="" onclick="likeTool(this)" class="gitment-header-like-btn"><svg class="gitment-heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M25 39.7l-.6-.5C11.5 28.7 8 25 8 19c0-5 4-9 9-9 4.1 0 6.4 2.3 8 4.1 1.6-1.8 3.9-4.1 8-4.1 5 0 9 4 9 9 0 6-3.5 9.7-16.4 20.2l-.6.5zM17 12c-3.9 0-7 3.1-7 7 0 5.1 3.2 8.5 15 18.1 11.8-9.6 15-13 15-18.1 0-3.9-3.1-7-7-7-3.5 0-5.4 2.1-6.9 3.8L25 17.1l-1.1-1.3C22.4 14.1 20.5 12 17 12z"></path></svg><span id="likeNum">0</span> Like</span><span></span>-->
                    <span id="dl" data-likeIt="" onclick="likeTool(this)" class="gitment-header-like-btn"><span class="glyphicon glyphicon-heart-empty kt-heart25-empty"></span><span id="likeNum">0</span> Like</span><span></span>
<!--                    <span id="dl" data-likeIt="" onclick="likeTool(this)" class="gitment-header-like-btn"><span id="likeNum">0</span> Like</span><span></span>-->
                    <!--                            <a class="gitment-header-issue-link" href="#" target="_blank">Issue Page</a>-->
                </div>
            </div>
            <!-- 评论区 -->
            <div>
                <div lang="en-US" class="gitment-container gitment-comments-container">
                    <div class="gitment-comments-error" id="noComment">暂无评论</div>
                    <ul class="gitment-comments-list" id="commentList">
                    </ul>
                    <!-- 分页-->
                    <ul class="gitment-comments-pagination" id="commentPage">
<!--                        <li class="gitment-comments-page-item gitment-selected">1</li>-->
                        <!--<li class="gitment-comments-page-item">2</li>
                        <li class="gitment-comments-page-item">Next</li>-->
                    </ul>
                </div>
            </div>
            <!-- 发表评论区-->
            <div>
                <div lang="en-US" class="gitment-container gitment-editor-container">
                    <!--用户头像-->
                    <a class="gitment-editor-avatar" href="javascript:void(0);" target="_blank" title="you">
                        <!--<svg class="gitment-github-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                            <path d="M25 10c-8.3 0-15 6.7-15 15 0 6.6 4.3 12.2 10.3 14.2.8.1 1-.3 1-.7v-2.6c-4.2.9-5.1-2-5.1-2-.7-1.7-1.7-2.2-1.7-2.2-1.4-.9.1-.9.1-.9 1.5.1 2.3 1.5 2.3 1.5 1.3 2.3 3.5 1.6 4.4 1.2.1-1 .5-1.6 1-2-3.3-.4-6.8-1.7-6.8-7.4 0-1.6.6-3 1.5-4-.2-.4-.7-1.9.1-4 0 0 1.3-.4 4.1 1.5 1.2-.3 2.5-.5 3.8-.5 1.3 0 2.6.2 3.8.5 2.9-1.9 4.1-1.5 4.1-1.5.8 2.1.3 3.6.1 4 1 1 1.5 2.4 1.5 4 0 5.8-3.5 7-6.8 7.4.5.5 1 1.4 1 2.8v4.1c0 .4.3.9 1 .7 6-2 10.2-7.6 10.2-14.2C40 16.7 33.3 10 25 10z"></path>
                        </svg>-->
                        <img class="gitment-comment-avatar-img" src="https://www.gravatar.com/avatar/erte4564?s=200&d=identicon">
                    </a>

                    <div class="gitment-editor-main">
                        <div class="gitment-editor-header">
                            <nav class="gitment-editor-tabs">
                                <button class="gitment-editor-tab gitment-selected">Write</button>
                            </nav>
                            <!--暂时不用 登录-->
                            <div class="gitment-editor-login">
                                <!--<a class="gitment-editor-login-link"
                                   href="https://github.com/login/oauth/authorize?scope=public_repo&amp;redirect_uri=http%3A%2F%2Flocalhost%2Fdev%2FcolorPicker&amp;client_id=8da1e599cc8ffa470d96&amp;client_secret=b791b7f32d85de14ad551b678231817c9b100b11">Login</a>
                                with GitHub-->
                            </div>
                        </div>
                        <div class="gitment-editor-body">
                            <div class="gitment-editor-write-field">
                                <textarea id="commentContext" placeholder="留下你的意见" title=""></textarea>
                            </div>
                            <div class="gitment-editor-preview-field gitment-hidden">
                                <div class="gitment-editor-preview gitment-markdown">Nothing to preview</div>
                            </div>
                        </div>
                    </div>
                    <div class="gitment-editor-footer">
                        <a class="gitment-editor-footer-tip"
                           href="https://guides.github.com/features/mastering-markdown/" target="_blank">
<!--                            Styling with Markdown is supported-->
                            支持Markdown语法
                        </a>
                        <button class="gitment-editor-submit" onclick="addComment()" title="发表评论">评论</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 网站footer -->
    <div th:fragment="footer" class="jumbotron text-center kt-bg" style="margin-bottom:0; padding:10px 0 20px 0;">
        <p style="margin-bottom: 2px; font-size: 15px;">
            <a class="kt-a-color" th:href="@{/}">返回首页</a> - <a class="kt-a-color" href="mailto:1481397688@qq.com" title="您的宝贵意见是我前进的动力">意见反馈</a> - <a class="kt-a-color" target="_blank" th:href="@{/about}">关于Kalvin在线工具</a>
        </p>
        <p class="kt-fc-desc kt-fs14" style="margin-bottom: 2px;">Copyright © Kalvin在线工具 <a class="kt-fc-desc" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备18152502号</a></p>

        <div class="kt-fixed-bar">
            <a href="#top" data-toggle="tooltip" data-placement="left" title="回到顶部" class="kt-top-bar">
            </a>
        </div>
    </div>

    <!--<script th:fragment="jquery" th:src="@{/static/js/jquery.min.js}"></script>-->
    <script th:fragment="jquery" src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <div th:fragment="bootstrapjs">
        <!--<script th:src="@{/static/plugin/bootstrap4/js/popper.min.js}"></script>-->
        <!--<script th:src="@{/static/plugin/bootstrap4/js/bootstrap.min.js}"></script>-->
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </div>

    <div th:fragment="publicjs">
        <script th:src="@{/static/js/ktConfig.js}"></script>
        <script th:src="@{/static/js/jquery.cookie.js}"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script th:src="@{/static/js/ktUtils.js}"></script>
        <script th:src="@{/static/js/smarticker.js}"></script>
        <script th:src="@{/static/js/ktPublic.js}"></script>
        <script th:src="@{/static/js/showdown.min.js}"></script>
<!--        <script th:src="@{/static/js/gitment.browser.js}"></script>-->
        <!--动态线条背景-->
        <script type="text/javascript"
                color="97,102,105" opacity='0.5' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
        </script>
    </div>

    <div th:fragment="uploadjs">
        <script th:src="@{/static/plugin/bootstrap4/fileinput/js/fileinput.min.js}"></script>
        <script th:src="@{/static/plugin/bootstrap4/fileinput/js/zh.js}"></script>
    </div>

    <!--更新日志模板-->
    <div th:fragment="updateLog" class="container p-0">
        <div class="content border-top lightgray blue">
            <div class="padding">
                <div class="updateLogTicker">
                    <ul>
                        <li><a th:href="@{/image/compress}" target="_blank"><img src="/static/image/icon/new.png"> 2019-09-01：新增图片压缩工具！</a></li>
                        <li><a th:href="@{/convenience/selectors}" target="_blank"><img src="/static/image/icon/new.png"> 2019-09-01：新增困难选择器工具！</a></li>
                        <li><a th:href="@{/image/wordCloud}" target="_blank"><img src="/static/image/icon/new.png"> 2019-08-25：新增词云图生成工具！</a></li>
                        <li><a th:href="@{/dev/markdown}" target="_blank"><img src="/static/image/icon/new.png"> 2019-08-25：新增markdown在线编辑器工具！</a></li>
                        <li><a th:href="@{/dev/jsHtmlCss/format}" target="_blank"><img src="/static/image/icon/new.png"> 2019-08-25：新增JS/HTML/CSS代码格式化、美化工具！</a></li>
                        <li><a th:href="@{/txt/charStatistics}" target="_blank"><img src="/static/image/icon/new.png"> 2019-08-25：新增在线字符统计工具！</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>