<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5,user-scalable=no">
    <title>文字转换ascii艺术字 - Kalvin在线工具</title>
    <meta name="keywords" content="艺术字转换、文字转Ascii艺术字">
    <meta name="description" content="在线艺术字转换、文字转Ascii艺术字">
    <link th:replace="comm/base::icon"/>
    <static th:replace="comm/base::static"></static>

</head>
<body class="kt-bg">

<div th:replace="comm/base::head"></div>

<div th:replace="comm/base::navbar"></div>

<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">文字工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">文字转换ascii艺术字</li>
        </ol>
    </nav>
</div>

<div th:replace="comm/base::tab"></div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="ascii">
        <!--主要内容块-->
        <div class="container kt-first-layout-module">
            <div class="row">
                <div class="col-sm-6 mt-3">
                    <label for="txt" class="kt-fc-title">请输入文字:</label>
                    <input type="text" class="form-control" id="txt" placeholder="亲，不支持中文哟">
                </div>
                <div class="col-sm-3 mt-3">
                    <label for="font" class="kt-fc-title">推荐字体类型:</label>
                    <select class="form-control" id="font">
                    </select>
                </div>
                <div class="col-sm-3 mt-3">
                    <label for="allFont" class="kt-fc-title">所有字体类型:</label>
                    <select class="form-control" id="allFont" data-toggle="tooltip" data-placement="top" title="选择后会优先被使用!">
                        <option value="">可选</option>

                    </select>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <button class="btn" id="transpic" style="background: #20c997;color: white; margin-left: 0;">开始转化</button>
                    <label for="comment" class="kt-fc-title">ascii字体预览:</label>
                    <!--<textarea class="ascii" disabled rows="5" id="comment"></textarea>-->
                    <pre id="comment" class="kt-pre-font12 kt-border"></pre>
                </div>
            </div>
        </div>
        <!--文字说明块-->
        <div class="container kt-layout-module">
            <h4 class="kt-fs16 kt-fc-title">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">文字(字母或数字)转ascii艺术字工具，不支持中文不支持中文不支持中文；重要事，说三遍！</p>
            </blockquote>
        </div>
    </div>
    <!--<div class="tab-pane container p-0" id="ascii">2222</div>-->
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>

<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::jquery"></script>
<script th:replace="comm/base::publicjs"></script>
<script>
    $(document).ready(function() {

        init();

        $('#transpic').on('click', function () {
            var txt = $('#txt').val();
            var font = $('#font').find('option:selected').val();
            var allFont = $('#allFont').find('option:selected').val();
            if (allFont) {
                font = allFont;
            }
            if (!txt) {
                ktUtils.hintMsg('请填写文字');
                return false;
            }
            $.ajax({
                type: 'POST',
                data: {txt: txt, font: font},
                url: ktConfig.api.txtAscii,
                success: function (r) {
                    $('#comment').text(r.data);
                },
                complete: function (xmlHttpRequest) {
                    var r = xmlHttpRequest.responseJSON;
                    if (r.errorCode) {
                        if (r.errorCode !== ktConfig.request.okCode) {
                            ktUtils.errorMsg("转换失败，请重试。" + r.msg);
                        }
                    } else {
                        ktUtils.errorMsg('request fail:' + r.status);
                    }
                    log(r);
                }
            });
        });

        /**
         * 初始化代码
         */
        function init() {

            // 渲染页签
            ktUtils.renderNavTab(ktConfig.moduleType.txt);

            // 初始化建议字体
            ktConfig.suggestFontArr.forEach(function (value) {
                $('#font').append('<option value="' + value + '">' + value + '</option>')
            });

            // 初始化所有font字体下拉列表
            ktConfig.allFontArr.forEach(function (value) {
                $('#allFont').append('<option value="' + value + '">' + value + '</option>')
            });

            // 默认展示ascii艺术字
            var defaultAscii = ' _         _       _         _              _     \n' +
                '| | ____ _| |_   _(_)_ __   | |_ ___   ___ | |___ \n' +
                '| |/ / _` | \\ \\ / / | \'_ \\  | __/ _ \\ / _ \\| / __|\n' +
                '|   < (_| | |\\ V /| | | | | | || (_) | (_) | \\__ \\\n' +
                '|_|\\_\\__,_|_| \\_/ |_|_| |_|  \\__\\___/ \\___/|_|___/\n' +
                '                                                  ';
            $('#comment').text(defaultAscii);
        }

    });
</script>

</body>
</html>