<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.ktools.dao.LinuxCmdDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.ktools.entity.LinuxCmd">
        <id column="id" property="id" />
        <result column="cmd_category_id" property="cmdCategoryId" />
        <result column="cmd" property="cmd" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cmd_category_id, cmd, name
    </sql>

</mapper>
