<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5,user-scalable=no">
    <title>IP查询 - Kalvin在线工具</title>
    <meta name="keywords" content="IP查询、域名IP查询、IP归属地查询、IP运营商查询、IP所在地区查询">
    <meta name="description" content="IP信息查询、在线IP归属地查询、IP运营商查询、IP所在地区查询、IP所在地址查询、IP运营商查询">
    <link th:replace="comm/base::icon"/>
    <static th:replace="comm/base::static"></static>

</head>
<body class="kt-bg">

<div th:replace="comm/base::head"></div>

<div th:replace="comm/base::navbar"></div>

<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span class='kt-position-title'>您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">首页</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">便民工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">IP查询</li>
        </ol>
    </nav>
</div>

<!--更新日志通知条-->
<div th:replace="comm/base::updateLog"></div>
<div th:replace="comm/base::tab"></div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="ascii">
        <!--主要内容块-->
        <div class="container kt-first-layout-module">
            <div class="row">
                <div class="col-sm-12 text-center mt-lg-5">
                    <img th:src="@{/static/image/ip_seach.png}"/>
                </div>
                <div class="col-sm-6 offset-sm-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">IP/域名:</span>
                        </div>
                        <input type="text" class="form-control" id="ip" placeholder="www.baidu.com">
                        <button id="query" class="btn btn-primary btn-sm glyphicon glyphicon-search">IP查询</button>
                    </div>
                </div>
                <div class="col-sm-6 offset-3 mb-5">
                    <p class="kt-fs14" id="errorMsg" style="display: none">
                        <label class="font-weight-bold">提示:</label>
                        <span style="background-color: #e9ecef; color: red">查询失败，请重试</span>
                    </p>
                    <p class="kt-fs14">
                        <label class="font-weight-bold">IP:</label>
                        <span id="_ip" style="background-color: #e9ecef">14.215.177.39</span>
                    </p>
                    <p class="kt-fs14">
                        <label class="font-weight-bold">域名:</label>
                        <span id="domain" style="background-color: #e9ecef">www.baidu.com</span>
                    </p>
                    <p class="kt-fs14">
                        <label class="font-weight-bold">isp：</label>
                        <span id="isp" style="background-color: #e9ecef">电信</span>
                    </p>
                    <p class="kt-fs14">
                        <label class="font-weight-bold">IP归属地：</label>
                        <span id="ipAddress" style="background-color: #e9ecef">中国广东广州</span>
                    </p>

                </div>
            </div>
        </div>
        <!--文字说明块-->
        <div class="container kt-layout-module">
            <h4 class="kt-fs16">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">查询域名IP以为IP所在的地理位置地址及网络供应商信息。</p>
            </blockquote>
        </div>

        <!--评论模块-->
        <div class="container kt-layout-module">
            <div th:replace="comm/base::comment"></div>
        </div>
    </div>
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>

<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::jquery"></script>
<script th:replace="comm/base::publicjs"></script>

<script>
    $(document).ready(function() {
        ktUtils.renderNavTab(ktConfig.moduleType.convenience);
        ktUtils.initComments();
        // http://119.29.193.127
        $('#query').on('click', function () {
            ipQuery();
        });

        $('#ip').on('keyup', function (e) {
            if (e.which === 13) {
                ipQuery();
            }
        });


        function ipQuery() {
            var ip = $('#ip').val();
            if (!ip) {
                alert('请输入IP地址或域名再查询');
                return false;
            }
            $.get(ktConfig.api.getIpInfo, {ip: ip}, function (r) {
                if (r.errorCode === ktConfig.request.okCode) {
                    $('#_ip').text(r.data.ip);
                    $('#domain').text(r.data.domain);
                    $('#ipAddress').text(r.data.ipAddress);
                    $('#isp').text(r.data.isp);
                    $('#errorMsg').hide();
                } else {
                    $('#errorMsg').show();
                    alert('查询失败：' + r.msg);
                }
            });
        }

        function isIp(value){
            var exp = /^(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]).(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0).(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0).(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$/;
            var reg = value.match(exp);
            if (reg == null) {
                return false;
            }
        }
    });
</script>

</body>
</html>