<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5,user-scalable=no">
    <title>二维码生成器 彩色二维码生成器 - Kalvin在线工具</title>
    <meta name="keywords" content="二维码、二维码图片、二维码生成、二维码转换、彩色二维码生成器">
    <meta name="description" content="在线二维码生成、二维码图片生成、二维码转换,彩色二维码生成器">
    <link th:replace="comm/base::icon"/>
    <static th:replace="comm/base::static"></static>
    <link rel="stylesheet" th:href="@{/static/css/colpick.css}">
    <style>
        .picker {
            margin:0;
            padding:0;
            border:0;
            width:95px!important;
            height:20px;
            border-right:20px solid green;
            line-height:20px;
        }
        #picker1 + div {
            left: 0!important;
            top: 105px!important;
            z-index: 999;
        }
        #picker2 + div {
            left: 0!important;
            top: 136px!important;
            z-index: 999;
        }
    </style>
</head>
<body class="kt-bg">

<div th:replace="comm/base::head"></div>

<div th:replace="comm/base::navbar"></div>

<div class="container p-0">
    <nav>
        <ol class="breadcrumb mb-0 kt-bread-bg">
            <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
            <li class="breadcrumb-item kt-fs13"><a th:href="@{/}">首页</a></li>
            <li class="breadcrumb-item kt-fs13"><a href="#">便民工具</a></li>
            <li class="breadcrumb-item kt-fs13 active">二维码生成</li>
        </ol>
    </nav>
</div>

<div th:replace="comm/base::tab"></div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container p-0 active" id="ascii">
        <!--主要内容块-->
        <div class="container kt-first-layout-module">
            <div class="row">
                <div class="col-sm-6 mt-lg-4">
                    <textarea class="form-control" rows="10" id="content" placeholder="二维码内容：可以为文字内容或者网址链接"></textarea>
                </div>
                <div class="col-sm-2 mt-lg-4 text-center">
                    <!--<select class="custom-select-sm mt-lg-5" id="type">
                        <option value="">二维码类型</option>
                        <option value="wx">微信二维码</option>
                        <option value="al">支付宝二维码</option>
                    </select>-->
                    <!--<button id="parse" class="btn btn-sm btn-secondary mt-2 glyphicon glyphicon-chevron-left">解析二维码</button>-->
                    <div class="form-inline" style="display: block;margin-top: 70px;">
                        <input type="text" class="form-control picker" id="picker1" placeholder="#前景色"/>
                    </div>
                    <div class="form-inline mt-2" style="display: block">
                        <input type="text" class="form-control picker" id="picker2" placeholder="#背景色"/>
                    </div>
                    <button id="gen" class="btn btn-sm btn-primary mt-2 glyphicon glyphicon-chevron-right">转换二维码</button>
                    <button id="download" class="btn btn-sm btn-success mt-2 glyphicon glyphicon-download">下载二维码</button>
                </div>

                <div class="col-sm-4 mt-lg-4">
                    <!--<img id="qrCodeIco" src="/static/ktico.ico" style="position: absolute;width: 30px; height: 30px;" />-->
                    <div id="qrCode"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="">
                    <!--<input type="text" class="" id="picker"/>-->
                </div>
            </div>
        </div>
        <!--文字说明块-->
        <div class="container kt-layout-module">
            <h4 class="kt-fs16">工具简介</h4>
            <hr>
            <blockquote class="blockquote">
                <p class="kt-fs13 kt-fc-desc">在线生成二维码图片:</p>
                <p class="kt-fs13 kt-fc-desc">1)二维码内容可以设置文字内容或者网址链接</p>
                <p class="kt-fs13 kt-fc-desc">2)可以随意设置二维码前景色及背景色，默认前景色为黑色，背景色为白色</p>
                <p class="kt-fs13 kt-fc-desc">3)二维码支持下载成图片</p>
            </blockquote>
        </div>

        <!--评论模块-->
        <div class="container kt-layout-module">
            <div th:replace="comm/base::comment"></div>
        </div>
    </div>
</div>

<!--网页footer-->
<footer th:replace="comm/base::footer"></footer>

<!--js脚本-->
<script th:replace="comm/base::config"></script>
<script th:replace="comm/base::jquery"></script>
<script th:replace="comm/base::publicjs"></script>
<script th:src="@{/static/js/qrcode.min.js}"></script>
<script th:src="@{/static/js/colpick.js}"></script>
<script>
    $(document).ready(function() {
        init();

        // 初始化二维码
        var qrCode = new QRCode('qrCode', {
            text: '请设置你的内容',
            width: 256,
            height: 256,
            colorDark : '#000000',
            colorLight : '#ffffff',
            correctLevel : QRCode.CorrectLevel.H
        });

        /*var icoEle = $("#qrCodeIco");
        var margin = ($("#qrCode").height() - icoEle.height()) / 2; //控制Logo图标的位置
        icoEle.css("margin", margin);*/

        // todo 还有功能未完成
        $('#gen').on('click', function () {
            var content = $('#content').val();
            if (!content) {
                alert('请在左边文本框填写二维码内容');
                return false;
            }
            qrCode.clear();
            $('#qrCode').html('');
            // qrCode.makeCode(content);
            var p1Color = $('#picker1').val();
            var p2Color = $('#picker2').val();
            if (!p1Color) {
                p1Color = '#000000';
            }
            if (!p2Color) {
                p2Color = '#ffffff';
            }
            qrcode = new QRCode('qrCode', {
                text: content,
                width: 256,
                height: 256,
                colorDark : p1Color,
                colorLight : p2Color,
                correctLevel : QRCode.CorrectLevel.H
            });
        });

        $('#parse').on('click', function () {
            alert('此功能未完成');
        });

        $('#download').on('click', function () {
            var base64 = $('#qrCode').find('img').attr('src');
            if (base64) {
                // log(base64.split('base64,')[1]);
                var r = ktUtils.post(ktConfig.api.qrCode2Image, {base64: base64.split('base64,')[1]});
                window.open(ktConfig.api.imageDownload + '?fileName=' + r.data);
            } else {
                ktUtils.hintMsg('先转换二维码');
            }
            /*$.post('/convenience/qrCode/2Image', {base64: base64.split('base64,')[1]}, function (r) {
                if (r.errorCode === ktConfig.request.okCode) {
                    window.open(ktConfig.api.imageDownload + '?fileName=' +  r.data);
                }
            });*/
        });

        function init() {
            ktUtils.renderNavTab(ktConfig.moduleType.convenience);
            ktUtils.initComments();

            // 颜色选择器初始化
            var i = 1;
            while (i < 3) {
                var picker = 'picker' + i;
                $('#' + picker).colpick({
                    layout:'hex',
                    submit:0,
                    colorScheme:'dark',
                    onChange:function(hsb,hex,rgb,el,bySetColor) {
                        $(el).css('border-color','#'+hex);
                        // Fill the text box just if the color was set using the picker, and not the colpickSetColor function.
                        if(!bySetColor) $(el).val( '#' + hex);
                    }
                }).keyup(function() {
                    $(this).colpickSetColor(this.value);
                });
                i++;
            }

        }
    });
</script>

</body>
</html>