/*css3 3D效果文字卡片*/
.row3 {
    position: relative;
    height: 50px;
    z-index: 1;
    clear: both;
    margin-bottom: 10px;
    text-align: center;
}
.skew-title {
    font-size: 30px;
}
.skew-title span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin: auto;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 35.714285714285715px;
    line-height: 50px;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition: all 0.2s;
    cursor: default;
}
.skew-title span:after,
.skew-title span:before {
    display: block;
    top: 0;
    left: 0;
    width: 40px;
    height: 50px;
    position: absolute;
    background: #185a81;
    content: ' ';
    z-index: -1;
    transition: all 0.2s;
}
.skew-title span:before {
    background: rgba(0,0,0,0.1);
    -webkit-transform: skewY(15deg);
    transform: skewY(15deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.skew-title span:nth-child(even) {
    background-color: #144c6e;
    -webkit-transform: skewY(15deg);
    transform: skewY(15deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    color: #d9d9d9;
}
.skew-title span:nth-child(even):after {
    background-color: #144c6e;
}
.skew-title span:nth-child(even):before {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
}
.skew-title span.flat {
    -webkit-transform: skewY(0);
    transform: skewY(0);
    color: #fff;
}
.skew-title span.flat:before {
    -webkit-transform: skewY(0);
    transform: skewY(0);
}
.skew-title span.flat:nth-child(even):after {
    background-color: #185a81;
}
.skew-title span.alt:after {
    background-color: #b94a2c;
}
.skew-title span.alt:nth-child(even):after {
    background-color: #9d3f25;
}
.skew-title span.alt.flat:nth-child(even):after {
    background-color: #b94a2c;
}

.fakeimg {
    /*width: 100%;*/
    height: 300px;
    background: #aaa;
    /*cursor: pointer;*/
}

/*fileinput样式重写*/
/*.file-preview {
    border-radius: 5px;
    border: 1px solid #989191;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
    height: 300px;
}

.file-drop-zone {
    margin: -1px 15px 12px 12px;
}

.file-error-message {
    position: absolute;
    z-index: 1;
}*/

.kt-bg {
    background: #f5ecec !important;
}

.kt-bread-bg {
    background: #ffffff !important;
}

.kt-tab-bg {
    background: white;
}

.kt-ctx-bg {
    background: white !important;
}

.kt-banner {
    font-style: oblique;
    font-family: fantasy;
    font-size: 77px;
    /*color: #23c565;*/
}

.kt-border {
    border: 1px solid silver;
}

.kt-fs13 {
    font-size: 13px;
}

.kt-fs14 {
    font-size: 14px;
}

.kt-fs16 {
    font-size: 16px;
}

.kt-fc-desc {
    color: #777777;
}

.kt-fc-title {
    /*color: #06648a;*/
    color: #666666;
    font-weight: bold;
    font-family: Microsoft YaHei UI
}

.fig {
    font-size: 10pt;
    font-family: Monospace;
    white-space: pre;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.ascii {
    width: 100%;
    height: 600px;
    overflow: auto;
    border: 1px solid #c5c5c5;
    border-right: 0;
    color: antiquewhite;
    background: #102b46;
    font: 1px "Courier New", Courier, monospace;
}

.kt-pre-font12 {
    font: 12.5px "Courier New", Courier, monospace;
}

.kt-pre-font14 {
    font: 14px "Courier New", Courier, monospace;
}

/*在线工具样式*/
.kt-tl-box {
    height: auto;
    width: 242px;
    margin: 0 20px 10px 0;
    border-radius: 5px;
}
.kt-tl-box:hover {
    -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #a9a9a9; box-shadow:2px 2px 5px #a9a9a9;
}
.module {
    margin: 3px 0 10px 0;
}
.module > div > hr {
    width: 97%; background: #f5ecec; margin-top: 13px; margin-left: 14px;
}
.module > div.kt-tl-box > div:first-child {
    width: auto; height: 90px;
}
.module > div.kt-tl-box > div:first-child > img {
    width:100%; height: 100%; border-radius: 5px;
}
.module > div.kt-tl-box > div:nth-child(2) {
    width: auto; height: 50px;text-align: center;padding-top: 10px;
    background: #f5ecec;border-radius: 5px;
    /*border: 1px solid silver;*/
}

.kt-img-box {
    height: 121px;
    margin: 5px;
    overflow: hidden;
}
.kt-a-img {
    display: block; width: 120px; height: 121px; margin-top: 0.108035px;
}
.kt-img-head {
    background-color: rgb(189, 171, 169); width: 120px; height: 121px;
}
.kt-img-inf {
    width: 120px;
    height: 20px;
    background: #000;
    /*filter: alpha(opacity=40);*/
    z-index: 1;
    margin-top: 0px;
    opacity: 0.7;
    line-height: 19px;
    overflow: hidden;
    /*display: none;*/
}
.kt-img-inf span {
    color: white;font-size: 12px;vertical-align: middle;padding-left: 8px;
}
.kt-img-inf a {
    background: white;float: right;margin-top: 1px;
}
a:hover {
    color: #1c7430;
    /*font-size: 17px;*/
}

/*导航栏下拉菜单样式*/
/*.nav-item > .dropdown-menu {
    background: #000a04;opacity: 0.8;
}
.nav-item > .dropdown-menu > .dropdown-item {
    color: #ffffff;
    font-family: inherit;
}
.nav-item > .dropdown-menu > a:hover {
    color: #000000;
    font-weight: bold;
    font-family: inherit;
}*/
.nav-item > .dropdown-menu > a:hover {
    /*background: #efefef;*/
}

button {
    cursor: pointer;
}

@media (max-width: 576px) {
    .list-group > a > .row > div:nth-child(2) > span {
        float: left!important;
    }
}

.kt-a-color {
    color: #333333;
}

.jumbotron > p > a:hover {
    color: #333333;
}

blockquote {
    padding-bottom: 2px;
}

.kt-fixed-bar {
    position: fixed; right: 2px; bottom: 20px;width: 30px;
}
.kt-fixed-bar > a {
    width: 100%;font-size: 20px;color: #929292;text-align: center;
}
.kt-fixed-bar > a:hover {
    color: #0e0e0e;
}