<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalvin Tools</title>
    <link th:replace="comm/base::icon"/>
    <!--引入静态文件-->
    <static th:replace="comm/base::static"></static>

</head>

<body class="kt-body">

    <!--网页头部-->
    <div th:replace="comm/base::head"></div>

    <!--Ktools导航栏-->
    <div th:replace="comm/base::navbar"></div>

    <!--面包悄-->
    <div class="container p-0">
        <nav>
            <ol class="breadcrumb mb-0 kt-bread-bg">
                <li class="kt-fs13" style="float: left;"><span style="color: #bf282e;font-weight: bold">您的当前位置：</span></li>
                <li class="breadcrumb-item kt-fs13 active"><a href="#">Home</a></li>
            </ol>
        </nav>
    </div>

    <!--主要内容块-->
    <div class="container" style="background: white">

        <div class="row ml-1 mr-1 mt-2">
            <label class="kt-fc-title mb-0 mt-3" style="background: #f5ecec">在线工具</label>
            <div id="toolsBox" class="col-sm-12 kt-border">

            </div>
        </div>

        <div class="row ml-1 mr-1 mt-3">
            <label class="kt-fc-title mb-0" style="background: #f5ecec">头像大全</label>
            <div class="col-sm-12 kt-border border-bottom-0 mb-2">
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/elm.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/elm.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/elm.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/mm.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/mm.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/mm.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/0d10a0a8f202680f477352eb0e2ed8d4.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/0d10a0a8f202680f477352eb0e2ed8d4.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/0d10a0a8f202680f477352eb0e2ed8d4.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/2ac2154f1b6d3a42b7d89d104f431988.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/2ac2154f1b6d3a42b7d89d104f431988.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/2ac2154f1b6d3a42b7d89d104f431988.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/5322ba2acbed193c0fbd53111b7688e0.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/5322ba2acbed193c0fbd53111b7688e0.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/5322ba2acbed193c0fbd53111b7688e0.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/6460b44592a809794354099748f84a79.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/6460b44592a809794354099748f84a79.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/6460b44592a809794354099748f84a79.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/008510b93f6e73d1acfd1deef7b49eb0.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/008510b93f6e73d1acfd1deef7b49eb0.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/008510b93f6e73d1acfd1deef7b49eb0.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/159729df6748c8d3c962a121d5f5c9ab.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/159729df6748c8d3c962a121d5f5c9ab.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/159729df6748c8d3c962a121d5f5c9ab.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/a13252e4b946ca41e09c1df35ce7c86c.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/a13252e4b946ca41e09c1df35ce7c86c.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/a13252e4b946ca41e09c1df35ce7c86c.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/e12d8990a51dc81c56b1f9d0b280ca89.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/e12d8990a51dc81c56b1f9d0b280ca89.jpg}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/e12d8990a51dc81c56b1f9d0b280ca89.jpg}" target="_blank"></a>
                    </div>
                </div>
                <div class="kt-img-box float-left">
                    <a th:href="@{/static/image/yr.jpg}" target="_blank" name="pn0" class="kt-a-img">
                        <img class="kt-img-head img-hover" th:src="@{/static/image/yr.png}">
                    </a>
                    <div class="kt-img-inf">
                        <span>666x666</span>
                        <a class="glyphicon glyphicon-download" th:href="@{/static/image/yr.jpg}" target="_blank"></a>
                    </div>
                </div>
            </div>
            <!--查看更多-->
            <div class="col-sm-12 kt-border border-top-0">
                <div style="text-align: center; width: 100%;background: #adffb4"><a th:href="@{/head}" target="_blank">查看更多</a></div>
            </div>
        </div>

    </div>
    <!--文字说明块-->
    <div class="container kt-ctx-bg mt-3">
        <h4 class="kt-fs16 kt-fc-title">网站简介</h4>
        <hr>
        <blockquote class="blockquote">
            <p class="kt-fs13 kt-fc-desc">网站旨在集成更多好玩有趣有逼格以及实用的在线工具。网站的发展离不开广大网友的支持及意见，若有各种关于网站的意见欢迎投递留言，感谢！</p>
            <!--<footer class="blockquote-footer">图片转艺术图</footer>-->
        </blockquote>
    </div>

    <!--网页footer-->
    <footer th:replace="comm/base::footer"></footer>

    <!--js脚本-->
    <script th:replace="comm/base::config"></script>
    <script th:replace="comm/base::publicjs"></script>
    <script>
        $(document).ready(function() {

            // 在线工具box渲染
            var allTools = ktConfig.navTabs.image.concat(ktConfig.navTabs.txt);
            var kfc = ktcfg.ctx;
            allTools.forEach(function (obj) {
                $('#toolsBox').append('<div class="kt-border float-left kt-tl-box">\n' +
                    '                    <div style="width: auto; height: 90px;" class=" mt-2 ml-2 mr-2">\n' +
                    '                        <img src="' + kfc + obj.pic + '" style="width:100%; height: 100%;">\n' +
                    '                    </div>\n' +
                    '                    <div style="width: auto; height: 50px;text-align: center;padding-top: 10px;background: #f5ecec" class="kt-border ml-2 mr-2">\n' +
                    '                        <a class="kt-fc-title" href="' + kfc + obj.url + '" target="_blank">'+obj.name+'工具&nbsp;<i class="glyphicon glyphicon-forward"></i></a>\n' +
                    '                    </div>\n' +
                    '                </div>');

            });

            var allMenus = ktUtils.getAllMenus();
            allMenus.forEach(function (item) {  // todo

            });

        });
    </script>
</body>
</html>