<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="/static/plugin/bootstrap4/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/plugin/editormd/css/editormd.min.css">
    <style>
        textarea {
            width: 100%;
            height: 400px;
            overflow: auto;
            border: 1px solid #c5c5c5;
            border-right: 0;
            font: 14px "Courier New", Courier, monospace;
        }
    </style>
</head>
<body>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="/static/plugin/editormd/js/editormd.min.js"></script>
    <textarea style="height: 600px;width: 700px" wrap="logical">
         .!\//?:.'^^""""""""^`.  `,,^.
          .|######;^'.        .`^"-####/!
          ,#####o"                ^\#####!
          :####\'    .^,,:`   "".  .|####/
          '/##/'     `:;i\/^ ';!,.  .\###\
           'i/^      `,i~,`' .":^    'o*|^
            `,        .``     .;"     :"  'i;
            :'          '^     .      `" `o##`
           .;           `,!-~:^,`     .:.|##*'
           ',             ,i-;' .      :!###/
           `,           .?/-~|/'       ;\###\;,
           .;            :,^^,:    .^:i/######\
            ^,           'ii;^.`,!?o#########o"
             ^:"        '"!-//o############|,'
              ?#\!"^":~\*#################;
             ~##########################*,
            :\#########################|~"
           ^, `-######################~ ^~
           :.   ,*##################*i  .!
                 ^~?|\\//////\\|?~!"`


        :i!;`!!!;`:ii""";;'!,!:'ii:^";!^ "^"^.,!:`
        :?i-`;-~:,~~?;,:i~'|;|!`?~?^,i?:`:;":.;!:.
        ":":`":;,',^;`";::`,':` "^;'^"`,.",,"`;;,`
    </textarea>

    <!--工具logo1 -->
    <div style="height: 0;width: 100px;border-style: solid;border-width: 0 100px 100px 100px;
                        border-color: yellow #5cb85c #247db3 #5cb85c;">
        <h1 style="color: #ffffff; font-size: 53px; position: relative; top:22px;right:15px;">T</h1>
    </div>
    <!--工具图标icon -->
    <div style="margin: 5px;">
        <div style="width: 40px; height: 40px;color: goldenrod;line-height: 40px;text-align: center;font-size: 20px;border: 1px solid;">JHC</div>
    </div>
    <div>
        <div  style='display:inline;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-weight: bold;font-size: 40px;text-shadow: 3px 3px black;color: #a6b3c3;'>Kalvin</div>
        <div  style="display:inline;color: #123942;font-size: 29px;position: absolute; top: 6px;">|</div>
        <div  style="display:inline;font-family: cursive;font-weight: bold;font-size: 39px;text-shadow: 1px 2px black;color: #9cd3dc;margin-left: 9px;">在线工具</div>
    </div>
    <div>
        <div  style='display:inline;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-weight: bold;font-size: 40px;text-shadow: 3px 3px black;color: #a6b3c3;'>KT</div>
    </div>
    <!--工具logo2 -->
    <div>
        <span style="color: #1c94c4; font-weight: bold; font-size: 30px;">I</span>
        <span style="color: #0b2e13; font-weight: bold; font-size: 30px;">P</span>
        <span style="color: #1e7e34; font-weight: bold; font-size: 24px;">查</span>
        <span style="color: #1e7e34; font-weight: bold; font-size: 24px;">询</span>
        <!--<span style="color: #0b2e13; font-weight: bold; font-size: 30px;">x</span>
        <span style="color: #1e7e34; font-weight: bold;">常</span>
        <span style="color: #4b5257; font-weight: bold;">用</span>
        <span style="color: #721c24; font-weight: bold;">命</span>
        <span style="color: #6f42c1; font-weight: bold;">令</span>-->
    </div>

    <div id="layout" class="editor">
        <div id="tmd">
            <textarea></textarea>
        </div>
    </div>
<script>
    var testEditor;
    // 挑有用的写上去就行
    testEditor = editormd("tmd", {
        placeholder:'本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
        width: "90%",
        height: 640,
        syncScrolling: "single",
        path: "static/plugin/editormd/lib/",   //你的path路径（原资源文件中lib包在我们项目中所放的位置）
        theme: "dark",//工具栏主题
        previewTheme: "dark",//预览主题
        editorTheme: "pastel-on-dark",//编辑主题
        saveHTMLToTextarea: true,
        emoji: false,
        taskList: true,
        tocm: true,         // Using [TOCM]
        tex: true,                   // 开启科学公式TeX语言支持，默认关闭
        flowChart: true,             // 开启流程图支持，默认关闭
        sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
        toolbarIcons : function() {  //自定义工具栏，后面有详细介绍
            return editormd.toolbarModes['simple']; // full, simple, mini
        },
    });

    // 在js中调用getMarkdown这个方法可以获得Markdown格式的文本。
    // testEditor.getMarkdown();

</script>
</body>
</html>