<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.ktools.dao.CommentGiveDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.ktools.entity.CommentGiveDetail">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="give_like_user_id" property="giveLikeUserId" />
        <result column="like_it" property="likeIt" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment_id, give_like_user_id, like_it, create_time
    </sql>

</mapper>
