<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.ktools.dao.CommentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.ktools.entity.Comment">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="menu_id" property="menuId" />
        <result column="comment" property="comment" />
        <result column="comment_like_num" property="commentLikeNum" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, menu_id, comment, comment_like_num, create_time
    </sql>

    <sql id="C_Base_Column_List">
        c.id, c.user_id, c.menu_id, c.comment, c.comment_like_num, c.create_time
    </sql>

    <select id="selectCommentsWithUser" resultType="com.kalvin.ktools.dto.CommentDTO">
        select <include refid="C_Base_Column_List"/>, su.nickname, su.avatar,
        (select like_it from kt_comment_give_detail where comment_id=c.id and give_like_user_id=#{giveUserId}) as likeIt
        from kt_comment c left join sys_user su on c.user_id=su.id
        where c.menu_id=#{menuId}
        order by c.create_time desc
    </select>

</mapper>
