<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.ktools.dao.MenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.ktools.entity.Menu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="level" property="level" />
        <result column="module_type" property="moduleType" />
        <result column="icon" property="icon" />
        <result column="banner" property="banner" />
        <result column="intro" property="intro" />
        <result column="like_num" property="likeNum" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, url, level, module_type, icon, banner, intro, like_num, sort, status, create_time
    </sql>

</mapper>
